section(class="main-container border border-[steelblue]") 
	div(class="container  border border-[tomato]") 
		div(class='w-full overflow-x-auto')
			table(class='w-full min-w-[640px] border border-gray-300 border-collapse text-[12px] l:text-[16px]')
				thead
					tr(class='bg-gray-200')
						-for(let i = 1; i<=5; i++)
							th(class='border border-gray-300 p-3 text-left font-bold whitespace-nowrap') lorem
								| #{i}
				tbody
					-for(let i = 1; i<=5; i++)
						tr(class='odd:bg-white even:bg-gray-100 hover:bg-gray-200 transition-colors')
							-for(let i = 1; i<=5; i++)
								td(class='border border-gray-300 p-3 whitespace-nowrap') lorem
									| #{i}
